body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: rgb(240, 169, 169);
}

header {
    background-color: rgb(77, 214, 77);
    color: rgb(255, 255, 255);
    padding: 1rem;
    text-align: center;
}

nav a {
    color: rgb(70, 255, 54);
    margin: 0 15px;
    text-decoration:double
}

h3 {
    color: rgba(43, 102, 170, 0.822);
    margin: 0 30px;
    text-decoration: none;
    text-align: center;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background: rgb(204, 9, 9);
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    background: rgb(221, 221, 221);
    position: static;
    bottom: 25px;
    width: 100%;
}

.flex-contrainer{
 display: flex; 
 flex-direction: row
}

col-left{
 width: 60%;
 padding: 15px; 
 margin-right: 5px;
 background-color: rgb(102, 49, 91);

}

h4 {
background-color: rgb(60, 117, 42);
color: rgb(236, 236, 147);
padding: 10px;
font-size: larger;
border: 1px, solid rgb(78, 78, 78);
}

.col-right{
  width: 40px;
  padding: 15px;
  margin-left: 5px;
}

h1{
    color: rgb(211, 252, 99);
 display: flex;
 justify-content: center;
 font-family: 'Pixel Code', 'Courier New', Courier, monospace;
}


a{
    text-decoration: none;
}

h2{
    color: rgb(114, 63, 73);
    text-align: center;
}

@keyframes neonGlow {
  from {
    text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 0, 222), 0 0 30px rgb(255, 0, 222);
  }
  to {
    text-shadow: 0 0 2px rgb(255, 255, 255), 0 0 5px rgb(255, 255, 255), 0 0 10px rgb(255, 0, 222), 0 0 15px rgb(255, 0, 222);
  }
}

h1, h3 {
  color: rgb(52, 99, 56);
  animation: neonGlow 1.5s ease-in-out infinite alternate;
}

img{
display: block;
margin-left: auto;
margin-right: auto;
width:  50%;
height: auto;
text-align: center;
border: none;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

