body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: rgb(240, 169, 169);
}

header {
    background-color: rgba(105, 223, 144, 0.493);
    color: rgb(105, 86, 86);
    padding: 2rem;
    text-align: center;
}

h3 {
    color: rgba(43, 102, 170, 0.822);
    margin: 0 30px;
    text-decoration: none;
    text-align: center;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background: rgb(204, 9, 9);
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    background: rgb(125, 25, 255);
    position: static;
    bottom: 25px;
    width: 100%;
}

.flex-contrainer{
 display: flex; 
 flex-direction: row
}

col-left{
 width: 60%;
 padding: 15px; 
 margin-right: 5px;
 background-color: rgb(102, 49, 91);

}

h4 {
background-color: rgb(60, 117, 42);
color: rgb(236, 236, 147);
padding: 10px;
border: 1px, solid rgb(78, 78, 78);
}

.col-right{
  width: 40px;
  padding: 15px;
  margin-left: 5px;
}

h1{
    color: rgb(211, 252, 99);
 display: flex;
 justify-content: center;
 font-family: 'Pixel Code', 'Courier New', Courier, monospace;
}


a{
    text-decoration: none;
}

h2{
    color: rgb(114, 63, 73);
    text-align: center;
}



img{
display: block;
margin-left: auto;
margin-right: auto;
width:  50%;
height: auto;
text-align: center;
border: none;
}